<h1><%= t("user_mailer.reset_pass") %></h1>
<p><%= t("user_mailer.pass_reset_content") %></p>
<%= link_to t("user_mailer.content_reset"), edit_password_reset_url(@user.reset_token,
email: @user.email) %>
<p><%= t("user_mailer.time_expried") %></p>

