<li>
  <%= gravatar_for user, size: Settings.avatar_size_min %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("button_app.delete"), user, method: :delete,
    data: {confirm: t("users_page.confirm_delete") } %>
  <% end %>
</li>
